body {
    /*background-color: #99CCFF;*/
    background: url(images/white_diamond_quartz.jpg);
}

header {
    margin-top: 15px;
}

footer {
    background-color: #333;
    margin-top: 20px;
}

hr {
    border-width: 2px;
}

#google-search {
    margin: auto;
    max-width: 300px;
}

.logo {
    text-align: center;
    margin: 0 auto;
}

.social_media {
    float: right;
    margin-top: -9%;
    margin-right: 10%;
}

.main_nav {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
}

.nav_bar ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: 20px 20px 20px 20px;
}

.nav_bar li {
    display: inline;
    padding: 5px 0;
    background-color: #333;
    border-radius: 20px 20px 20px 20px;
}

.nav_bar a {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    font-family: 'Arial';
    font-size: 16px;
    border-radius: 20px 20px 20px 20px;
}

/* Format nav bar on small devices */
@media (max-width:370px) {.nav_bar a {
    padding: 15px 13px;
    font-size: 14px;
}}

.nav_bar a:not(.active) {
    color: #EEE
}

.nav_bar a.active:hover {
    color: #99CCFF;
    background-color: #333;
}

.nav_bar a:not(.active):hover {
    background-color: #333;
}

.active { 
    color: #99CCFF;
}

.language-list {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Format language list for xs to md device widths */
@media (max-width:991px) {.language-list {
    text-align: center;
    margin-top:0;
}}

.language-list ul {
    padding: 0;
}
.language-list li {
    display: inline;
    padding: 25px;
}

.language-list a {
    color: #EEE;
    padding: 10px;
}

#contact {
    text-align: center;
    background-color: #99CCFF;
    border-radius: 20px 20px 0 0;
    padding: 10px 0px;
    width: 90%;}

#contact h1 {
    font-family: 'Merienda', 'Gabriola', Helvetica, sans-serif; 
    font-size: 35px;
    color: #0A17B9;
}

#contact p {
    font-family: 'Didact Gothic', Helvetica, sans-serif; 
    font-size: 16px;
    color: #0A17B9;
}

.contact-info {
    display: table;
    width: 100%;
    height: 100%;
}

.info-cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

#map {
    box-sizing: content-box; /*overrides bootstrap border-box value*/
    border: 5px ridge #0A17B9;
    width: 90%;
    height: 500px;
}

.extraMargin {
    margin-bottom: 15px;
}

/* Defines height of col-lg bootstrap column */
@media (min-width:1200px) {.col-height {
    height: 500px; /* should be the same as adjacent column's (eg. the map) height */
}}

#form {
    position: relative;
    margin: auto;
    padding: 10px;
    max-width: 500px;
}

/* Menu */
#menu {
    text-align: center;
}
#menu h1 {
    font-family: 'Merienda', Helvetica, sans-serif; 
    font-size: 28px;
}

/* Image Gallery */
.small-gutter > [class*='col-'] {
    /* reduce gutter width */
    padding-right: 5px;
    padding-left: 5px;
}
#gallery {
    text-align: center;
    width: 100%;
}
#gallery h1 {
    font-family: 'Merienda', Helvetica, sans-serif; 
    font-size: 28px;
}

/* PhotoSwipe gallery */
.my-gallery {
    width: 105%;
    float: left;
    padding-left: 3%;
}
/* Shoddy way to make gallery appear more centered on medium-large devices */
@media (max-width:400px) {.my-gallery {
    padding-left: 0;
}}
.my-gallery img {
        width: 100%;
  height: auto;
}
.my-gallery figure {
    display: block;
    float: left;
    margin: 0 10px 10px 0;
    width: 30%;
}
.my-gallery figcaption {
    display: none;
}

/* 404 page */
.error404 {
    text-align: center;
    color: #E8EEF2;
    background: url(images/coffee.jpg) no-repeat center fixed;
    background-size: cover;
}
.error404 h1 {
    font-size: 72px;
}
.error404 h3 a {
    text-decoration: underline;
    color: #E8EEF2;
}
.message404 {
    position: absolute;
    height: 600px;
    width: 400px;
    left: 50%;
    top: 50%;
    margin:-100px 0 0 -175px;
}