body {
    background-color: #99CCFF;
}

.logo {
    text-align: center;
    margin: 0 auto;
}

.social_media {
    position: absolute;
    right: 100px;
    top: 100px;
}

.main_nav {
    text-align: center; 
}

.main_nav ul {
    padding: 0;
}

.main_nav li {
    display: inline;
    padding: 25px;
}

.main_nav a {
    text-decoration: none;
    font-family: 'Arial';
    font-size: 16px;
}

#main_image {
    text-align: center;
    margin: 0 auto;
}

#contact {
    text-align: center;
    background-color: #2E382E;
    border-radius: 20px;
    padding: 10px 0px;
    margin: 0px 200px;
}

#contact h1 {
    font-family: 'Merienda', 'Gabriola', Helvetica; 
    font-size: 28px;
    color: #FFF;
}

#contact p {
    font-family: 'Didact Gothic', Helvetica; 
    color: #E8EEF2;
}

#map {
    box-sizing: content-box; /*overrides bootstrap border-box value*/
}

/* Image Gallery */
.no-gutter > [class*='col-'] {
    /* reduce gutter width */
    padding-right: 5px;
    padding-left: 5px;
}
#gallery {
    text-align: center;
    width: 100%;
}
#gallery h1 {
    font-family: 'Merienda', Helvetica; 
    font-size: 28px;
}
